body {
  font-family:Calibri Light;
  background-color:white;
  font-size: 20px;
}

header {
  width:95%;
  background-color:#B2D1E0;
  color:#000052;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  border:10px solid #696;
  border-radius:20px;
  overflow:hidden;
}

h1 {
  font-family:Cooper Black;
  font-size:2.5em;
  margin:0;
  padding:0;
  padding-top:5px;
}

h2 {
  font-size:1.6em;
  margin-left: 20px;
}

h3{
  font-size:1.2em;
  }

.first{
 margin-left:10%;
 }
 
 .second{
 margin-left:10%;
 }
 
.photo1{
  border: 5px solid yellow;
 }
 
p {
  margin:20px;
}

p:first-letter {
   font-size: 2em;
}

img{
float:right;
margin:0px 0px 10px 10px;
box-shadow:3px 3px 5px 1px #cccccc;
border:10px solid #696;
}

