body {
  font-family:Calibri Light;
  background-color:white;
  font-size: 20px;
}

header {
  width:95%;
  background-color:#B2D1E0;
  color:#000052;
  margin-right:auto;
  margin-left:auto;
  padding:10px;
  border:10px solid #696;
  border-radius:20px;
  text-align: center;
  overflow:hidden;
}

h1 {
  font-family:Cooper Black;
  font-size:2.5em;
  margin:0;
  padding:0;
  padding-top:5px;
}

h2 {
  font-size:1.6;
  margin-left: 20px;
}

h3{
  font-size:1.2;
  }

hgroup {
  width:100%;
  float:center;
}

.first{
 float:center;
 margin-left:33px;
 }
 
 .second{
 float:center;
 margin-left:33px;
 }
 
.photo1{
  text-align: center;
  border: 5px solid red;
 }
 
#2{
  text-align: center;
 }????

p {
  margin:20px;
}

p:first-letter {
   font-size: 2em;
}

img{
float:right;
margin:0px 0px 10px 10px;
box-shadow:3px 3px 5px 1px #cccccc;
border:10px solid #696;
}


footer {
  width:95%;
  color:blue;
  margin-right:auto;
  margin-left:15px;
  height:50px;
  margin-bottom:50px; 
}