
h2 {
  font-family:Times New Roman;
  font-style:italic;
  font-weight:bold;
  font-size:1.6em;
}

h3{
 text-decoration:underline;
 font-style:italic;
 }
 
@media screen {
    body {
        background-color:#B2D1E0;
    }
}

@media print {
    body {
       background-color:white;
    }
}

body {
 background-color:#B2D1E0;
 }
 
#resume {margin:0 auto; width:60%; text-align:left;
 }
 
#content{width:100%;}